{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="bg-image">
        <!-- Background Image with Darker Overlay -->
        <img src="{{ url_for('static', filename='img/banner.jpg') }}" alt="Banner Image" class="img-fluid">

        <!-- Text Overlay -->
        <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
            <h1 class="display-4" style="color: #008575;">Empower Your Career Journey</h1>
            <p class="lead" style="color: #695d46;">Discover and thrive in the perfect career. Your journey starts here.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <!-- About Us Heading -->
            <h1 style="color: #ff5e0e;">About Us</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Image -->
            <img src="{{ url_for('static', filename='img/about.jpg') }}" alt="Your Image" class="img-fluid">
        </div>
        <div class="col-md-6 mb-4">
            <!-- Text -->
            <div style="margin-top: 20px;"> <!-- Adjust the margin-top as needed -->
                <h2>About JobEase</h2>
                <p>Welcome to JobEase – Your Pathway to Professional Success.

                    At JobEase, we're more than a job-search platform; we're your partners in career advancement. 
                    Our commitment is simple: to connect talent with opportunity. With a focus on innovation and 
                    user-friendly design, JobEase is your gateway to streamlined, impactful job searches.
                </p>
                <p>                 
                    <b>Why JobEase?</b><br><br>
                    
                    <b>Efficiency:</b> Experience a seamless and efficient job-search process.<br>
                    <b>Personalization:</b> Tailored job recommendations based on your unique profile.<br>
                    <b>Community:</b> Join a vibrant community of professionals and employers.<br>
                    Join us. Explore. Elevate your career.
                    
                </p>
        
                <!-- Button -->
                <a href="{{ url_for('about') }}" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 text-center">
    <h2>Job Listings</h2>
    <div class="row">
        {% for job in jobs %}
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h5 class="card-title">{{ job.title }}</h5>
                        <p class="card-text">{{ job.salary }} <i class="bi bi-geo"></i> {{ job.location }}</p>
                        <a href="#" class="btn btn-primary mt-auto">Apply</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>  
{% endblock %}
