<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <!--img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" width="70" height="40"-->
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 menu-bar">
            <li><a href="{{ url_for('homepage') }}" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="{{ url_for('jobs_list') }}" class="nav-link px-2">Jobs</a></li>
            <li><a href="{{ url_for('about') }}" class="nav-link px-2">About Us</a></li>
            <li><a href="{{ url_for('contact') }}" class="nav-link px-2">Contact Us</a></li>
        </ul>

        <div class="col-md-3 text-end">
            {% if current_user.is_authenticated %}
                <!-- Display user's profile picture -->
                <!--img src="{{ url_for('static', filename='user/upload/profile_picture/' + current_user.image_file) }}"
                     alt="Profile Picture" class="rounded-circle" width="40" height="40"-->
                <a href="{{ url_for('new_jobs') }}" class="btn btn-outline-primary me-2">Post A Job</a>
                <a href="{{ url_for('account') }}" class="btn btn-outline-primary me-2">Account</a>
                <a href="{{ url_for('logout') }}" class="btn btn-outline-primary me-2">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="btn btn-outline-primary me-2 buttons">Login</a>
                <a href="{{ url_for('register') }}" class="btn btn-primary">Sign-up</a>
            {% endif %}
        </div>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>
